<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a class="nav-link" data-toggle="tab" href="#income">Income</a></li>
    <li><a data-toggle="tab" class="nav-link" href="#outcome">Outcome</a></li>
    <li><a data-toggle="tab" class="nav-link" href="#loans">Loans</a></li>
    <li><a data-toggle="tab" class="nav-link" href="#investments">Investments</a></li>
  </ul>

    <div class="tab-content">
      <div id="income" class="tab-pane in active">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Name</td>
              <td>Account</td>
            </tr>
            <tr *ngFor="let user of users">
            <ng-container *ngIf="user.type === 'income'">
              <td>{{user.name.first}}</td>
              <td>{{user.amount}}</td>
            </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="outcome" class="tab-pane">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Name</td>
              <td>Account</td>
            </tr>
            <tr *ngFor="let user of users">
              <ng-container *ngIf="user.type === 'outcome'">
                <td>{{user.name.first}}</td>
                <td>{{user.amount}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="loans" class="tab-pane">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Name</td>
              <td>Account</td>
            </tr>
            <tr *ngFor="let user of users">
              <ng-container *ngIf="user.type === 'loan'">
                <td>{{user.name.first}}</td>
                <td>{{user.amount}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="investments" class="tab-pane">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Name</td>
              <td>Account</td>
            </tr>
            <tr *ngFor="let user of users">
              <ng-container *ngIf="user.type === 'investment'">
                <td>{{user.name.first}}</td>
                <td>{{user.amount}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 